<div class="formDiv card card-block">

<!--     <person></person> -->

    <app-header></app-header>
    <div class="m-t-1">
        <router-outlet></router-outlet>
    </div>
<!-- <joke-list></joke-list> -->

<!-- <h1>App level</h1> -->
<!-- 	<joke [joke]="joke"> -->
<!-- 		<span class="setup">{{ joke.setup }}</span> -->
<!-- 		<h6 class="punchline">{{ joke.punchline }}</h6> -->
<!-- 	</joke> -->

<!-- <carousel [delay]="1000"> -->
<!--   <carousel-item> -->
<!--     <img src="https://unsplash.it/200?image=0" alt=""> -->
<!--   </carousel-item> -->
<!--   <carousel-item> -->
<!--     <img src="https://unsplash.it/200?image=100" alt=""> -->
<!--   </carousel-item> -->
<!--   <carousel-item> -->
<!--     <img src="https://unsplash.it/200?image=200" alt=""> -->
<!--   </carousel-item> -->
<!-- </carousel> -->

<!-- <div class="row"> -->
<!--   <recent-articles></recent-articles> -->
<!-- </div> -->

<!-- <image-rollover-activity></image-rollover-activity> -->

</div>